@media (max-width: 1000px) {
    .searchInput{
        width: 100%;
        margin: 0 auto;
        border-radius: 10px;
    }

    .form-btn {
        width: 50%;
        margin: 25px auto 0 auto;
        border-radius: 10px;
    }
}

@media (min-width: 1001px){
    .searchInput {
        width: 90%;
        float: left;
        border-radius: 10px 0px 0px 10px;
    }

    .form-btn {
        width: 10%;
        float: left;
        border-radius: 0px 10px 10px 0px;
    }
}

.SearchForm-container {
    width: 70vw;
    margin: 25px auto;
    height: 40px;
}

.searchInput {
    height: 40px;
    box-sizing: border-box;
    border: none;
    padding: 0 0 0 10px;
    line-height: normal;
}

.form-btn {
    box-sizing: content-box;
    vertical-align: top;
    height: 40px;
    padding: 0;
    border: none;
    color: white;
    background-color: #050A26;
    font-family: 'Lato',sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

.form-btn:hover {
    background-color:#030617;
}


