.CurrentWeather {
    width: 70vw;
    height: auto;
    margin: 0 auto;
    padding: 25px 0;
    background-color: rgba(87,84,122,0.8);
    border-radius: 20px;
}
.CurrentWeather h1{
    font-size: 2rem;
}

.CurrentWeather p{
    font-size: 1.2rem;
}
.CurrentWeather img{
   width: 100px;
   height: 100px;
}